extends ../layout

block content
    div.my-5
                .col.ps-0
                    .card.col(style="height: 75vh; overflow-y: auto")
                        .card-header.d-flex.justify-content-between.align-items-center.bg-light.position-sticky.top-0(style="z-index: 999")

                            div.card-title.col-8
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-1.mb-1 아이디
                                    span.ms-4 #{qna.u_id}
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-1.mb-1 제목
                                    span.ms-4 #{qna.title}
                                p
                                    span.bg-primary.bg-opacity-50.text-white.rounded-4.p-1.mb-1 작성일
                                    span.ms-4 #{qna.post_time}
