div(id="tagsCont")
    label.input-group-text
    input.form-control(type="text" id="tagsInput" list="tagsDataList" placeholder="해시태그")
    a
        div
            span
            input(type="hidden" name="tag" value)



datalist(id="tagsDataList")

script.

